<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Photo</title>
</head>
<body>
    {% extends 'base.html' %}
    {% block base %}

    <h1>hI HI</h1>
    <h3>{{startup.name}}</h3>
    <img src='{{photo}}'/>
    <form action="#" method="GET">
        <input type="submit" value="Play startup photo roulette"
    </form>

    <form action='#' method="POST">
        {% csrf_token %}
        <input type="submit" value="Add Photo"/>
    </form>
    {% endblock %}
</body>
</html>
