<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Photo</title>
    <script
        src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous">
    </script>
</head>
<body>
    {% extends 'base.html' %}
    {% block base %}
    {% load static %}

    <h1>hI HI</h1>
    <h3>{{startup.name}}</h3>
    <img src='{{photo}}'/>
    <ul>How to get this shit working: 
        <li>Create a static file:</li>
        <li>Make Ajax request with the query on the input</li>
        <li>Save all the values of the ajax request to the database manually (instead of using the form)</li>
        <li>Follow the update method (on the back end) to make it work</li>
    </ul>

   
    <form id="unsplashForm" action="{% url 'get_photo' startup.id %}" method="GET">
        {% csrf_token %}
        <input id="search" type="text"/>
        <input type="submit" value="Play startup photo roulette">
    </form>

    <form action='{% url 'add_photo' startup.id %}' method="POST">
        {% csrf_token %}
        <input type="submit" value="Add Photo"/>
    </form>
    <script type="text/javascript" src="{% static  'js/unsplash.js' %}">
    </script>
    {% endblock %}
</body>
</html>
