<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {% extends 'base.html' %}
    {% block base %}

    <h1>hI HI</h1>
    <h3>{{startup.name}}</h3>
    <form action='#' method="POST">
        <input type="text" name="{{startup.photo}}">
        <input type="text" name="{{startup.photo_attribute}}" value="Unsplash">
        <input type="text" name="{{startup.photo_photographer}}">
        <input type="text" name="{{startup.profile_link}}">
        <input type="submit" value="Add Photo"/>
    </form>
    {% endblock %}
</body>
</html>
