<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Here's where to create a new startup</title>
  </head>
  <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <body>
    {% extends 'base.html' %}
    {% block base %}
    {% load static %}
    <h1>You can be a founder now.</h1>

    {% if error %}
      <h6 class="text-center text danger">{{error}}</h6>
    {% else %}
      <h2>Play startup roulette to get your startup idea now. </h2>

      <form id="nameForm" >
        <label for=""> Put in a word that we can transform into a startup </label>
        <input id="oldName" type="text" name="Name" />
        <button id=""type="submit"> Play Startup Roulette </button>
      </form>



      <form action="{% url 'create'%}" method="POST">
        {% csrf_token %}
        {% for field in startup_form %}
          {{field.label}}
          <input id="{{field.name}} type="text" name="{{field.name}}" />
          <span class="error text-danger">{{field.errors}}</span>
        {% endfor %}
        <input type="submit" value="Add Startup">
      </form>

    {%endif%}
    <script type="text/javascript" src="{% static  'js/main.js' %}">
    </script>

    {% endblock %}


  </body>
</html>
