<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Profile</title>
  </head>
  <body>
    {% extends 'base.html'%}
    {% block base %}
    <h1>Hey hey! It's my profile page!</h1>
    {% if founder_startups %}
      <p>Congrats! You're a founder now</p>
      {% for startup in founder_startups %}

        <p>{{startup.name}}</p>
        <p>{{startup.tagline}}</p>
        <p>{{startup.description}}</p>
        <p>{{startup.id}}</p>
        <a href="{% url 'update' startup.id %}"  >
          <button> Update startup </button>
        </a>

        <a href="javascript:{document.getElementById('delete-{{startup.id}}').submit()}" >
          <button> Defund startup </button>
        </a>


        <form id="delete-{{startup.id}}"  action="{% url 'delete' startup.id %}" method="POST">
            {% csrf_token %}
            <input type="hidden">
        </form>


      {% endfor %}
    {% endif %}


    {% endblock %}
  </body>
</html>
